<h1>Listing tweets</h1>

<table>
  <tr>
    <th>User</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.user_id %></td>
    <td><%= tweet.body %></td>
    <td><%= link_to 'Show', user_tweet_path(@user, tweet) %></td>
    <td><%= link_to 'Edit', edit_user_tweet_path(@user, tweet) %></td>
    <td><%= link_to 'Destroy', user_tweet_path(@user, tweet), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweet', new_user_tweet_path %>
