<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @tweet.user_id %>
</p>

<p>
  <b>Body:</b>
  <%= @tweet.body %>
</p>


<%= link_to 'Edit', edit_user_tweet_path(@user, @tweet) %> |
<%= link_to 'Back', user_tweets_path %>
